*{
    box-sizing: border-box;
    margin: 0.3%;
    padding: 0.3%;
}

body{
    background-color: rgb(184, 177, 177);
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.Servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 10px 0;
}
.Servicios img {
    width: 200px;
    height: 180px;
}

.Servicios h3 {
    color: #000000;
    font-size: 20px;
    margin: 10px 0;
}

.Servicios p {
    color: #000000;
}