@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-image: url(./cecytem_escudo_by_mayle_namiki-d99d6xs.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  margin-top: -10rem;
}

.Titulo {
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 30px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4),
    0px -1px 1px rgba(0, 0, 0, 0.3);
}

.Caja {
  border: white 8px groove;
  border-radius: 5px;
  width: 340px;
  text-align: center;
}

.button {
  background-color: #4caf50;
  width: 200px;
  height: 80px;
  font-family: fantasy;
  font-size: 30px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.button2 {
  background-color: #ff0000;
  width: 200px;
  height: 80px;
  font-family: fantasy;
  font-size: 30px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #ff0000; /* Green */
  color: white;
}
